@{
    ViewData["Title"] = "Inicio";   
    ViewData["titleHeader"] = "Blog Polo MC";
    ViewData["subTitleHeader"] = "Bienvenido al mejor blog que se pudo crear";
    ViewData["imagen"] = "/assets/img/home-bg.jpg";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
