@model Publicacion


@{
   
    ViewData["Title"] = "Voy a Tener Suerte";
    ViewData["titleHeader"] = @Model.Titulo;
    ViewData["subTitleHeader"] =@Model.SubTitulo;
    ViewData["imagen"] = "/assets/img/post-bg.jpg";
}

<h1></h1>

                              