#tabla {
     border-collapse: collapse;            
  }
  
  th, td {    
    padding: 15px 70px;   
    cursor: pointer;
    
  }
  tr{
    border: 1px solid gray;
  }

  .content tbody tr:nth-child(2n){
    background-color: #eee
    
  }

 .row-selected{
    background: gray !important;
  }    
  

  #pintar{    
    text-align:center;  
  }

.div-tabla {
    width: 80%;    
   
}



.content {
    display: flex;
    }
