#tabla {
     border-collapse: collapse;   
   
 }
  
  th, td {    
    padding: 15px 70px;   
    cursor: pointer;
    border:  thin solid slategray; 
    border-top: 0px;
    border-left: 0;
    border-right: 0;
   padding-bottom: 0;
    
  }
 

  .content tbody tr:nth-child(2n){
    background-color: #eee
    
  }

 .row-selected{
    background: yellow !important;
  }    
  

  #pintar{    
    text-align:center;  
  }

.div-tabla {
    width: 80%;    
   
}



.content {
    display: flex;
    }
